<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dylan Construction Ltd</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="../static/assets/css/noscript.css"
    /></noscript>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <a href="/" class="logo"><strong>Dylan Construction</strong></a>

        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>

      <!-- Banner -->
      <section id="banner" class="major">
        <div class="inner">
          <header class="major">
            <img
              style="display: block; margin: auto; margin-bottom: 30px"
              src="../static/images/logo-trans-small.png"
              alt=""
            />
            <h2>Professional | Trustworthy | Reliable</h2>
            <h3>
              We pride ourselves on providing high quality work that you can
              trust
            </h3>
          </header>
          <div class="content">
            <p>
              Dylan Construction offers a wide range of building services
              including extensions, alterations, structural work, refurbishment,
              garden rooms/office's, cellar and loft conversions both commercial
              and residential using trusted plumbing and heating engineers,
              electricians, plasterers and roofers that we work alongside of.
            </p>
            <p>
              When you are ready to transform your property, you need someone
              you can trust, a professional team that know what they are doing
              and will provide you with great quality work and an excellent
              customer service experience.
            </p>
          </div>
        </div>
      </section>

      <!-- Main -->
      <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
          <article>
            <span class="image">
              <img src="../static/images/tile1.jpg" alt="" />
            </span>
            <header class="major">
              <h3>Alterations</h3>
              <p>
                We are specialists at altering all types of homes and buildings
                including commercial property, the majority of Dylan
                Constructions projects by far involve renovating and altering
                both period and modern properties in the residential sector, we
                do both.
              </p>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="../static/images/tile2.jpg" alt="" />
            </span>
            <header class="major">
              <h3>Structural Work</h3>
              <p>
                We do structural steel work, calculated design all supplied and
                installed.
              </p>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="../static/images/tile3.jpg" alt="" />
            </span>
            <header class="major">
              <h3>Cellar/Loft Conversions</h3>
              <p>
                We appreciate and understand that a loft conversion is probably
                going to be your second biggest investment, therefore, it is
                critical you choose the right loft company, Dylan Construction
                offer a second to none service and we involve you in every step
                of the way through the construction. We offer a full service
                from plans to completion so you can relax and know your
                conversion is being constructed by a company with vast
                experience in the loft conversion industry.
              </p>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="../static/images/tile4.jpg" alt="" />
            </span>
            <header class="major">
              <h3>Refurbishments</h3>
              <p>
                We are able to manage all throughout the entire design and build
                process, our service can be fully comprehensive, covering
                everything from your initial design ideas right through to the
                completion of your project.
              </p>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="../static/images/tile5.jpg" alt="" />
            </span>
            <header class="major">
              <h3>Garden Rooms/Offices</h3>
              <p>
                Here at Dylan Construction we are fully aware that one size
                doesn't fit all, that's why we offer a range of sizes of garden
                buildings, each of which can be fully customised to meet your
                requirements and tastes. You may be thinking of building a
                garden office, a garden gym, a hobby room, a space to socialise
                or simply a peaceful place to relax. We are here to help you
                make the right choices for the type of space that you want and
                to ensure that you get a premium quality product at the right
                price.
              </p>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="../static/images/tile6.jpg" alt="" />
            </span>
            <header class="major">
              <h3>About Us</h3>
              <p>
                With over two decades working in the industry, building and
                keeping a good reputation has been key to our growth, ensuring
                we have happy customers and making sure our work is of the
                highest quality.
              </p>
              <br />
              <p>
                From design to completion, we provide a wide range of building
                services and always ensure that work is carried out with the
                utmost professionalism to the highest possible standards. We
                keep our customers happy and pride ourselves in delivering their
                requirements.
              </p>
              <br />
              <p>
                When we work with other engineers on your project it will only
                be ones we have worked with previously and know we can also
                trust their work and professionalism.
              </p>
            </header>
          </article>
        </section>

        <!-- Two -->
        <section id="two">
          <div class="inner">
            <header class="major">
              <h2>Testimonials</h2>
            </header>
            <!-- Testimonials -->
            <div class="row">
              <!-- Break -->
              <div class="col-4 col-12-medium">
                <h5 style="text-align: center">
                  <em>J&S Accessories Ltd - Commercial client</em>
                </h5>
                <blockquote>
                  We recently expanded adding the unit next door to our shop.
                  Craig and his team came to take the wall down overnight with
                  as little hassle and mess as possible. An extremely
                  professional job. They were quick, clean and worked after
                  hours to make sure we could still trade. We cannot recommend
                  them enough.
                </blockquote>
              </div>
              <div class="col-4 col-12-medium">
                <h5 style="text-align: center">
                  <em>Liz - Private client</em>
                </h5>
                <blockquote>
                  Craig repaired my roof and chimneys and was the first person I
                  called when I needed my new front doors fitted. He is always
                  on time, always extremely helpful, and his prices are
                  reasonable—no added extras.
                </blockquote>
              </div>
              <div class="col-4 col-12-medium">
                <h5 style="text-align: center">
                  <em>Pete - Private client</em>
                </h5>
                <blockquote>
                  My garage roof needed replacing. I was let down by another
                  builder who was supposed to turn up. I contacted Dillon
                  Construction, who came and quoted for a rubber roof. They came
                  when they said they would and did a fantastic job. Very
                  pleased.
                </blockquote>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Contact -->
      <section id="contact">
        <div class="inner">
          <section>
            <header class="major">
              <h2>Contact Us</h2>
            </header>
            <form method="post" action="/contact">
              <div class="fields">
                <div class="field half">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" required />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" required />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea
                    name="message"
                    id="message"
                    rows="6"
                    required
                  ></textarea>
                </div>
              </div>
              {% if get_flashed_messages() %}
              <h5 style="color: green">
                {{ get_flashed_messages() | join(" ") }}
              </h5>
              {% endif %}
              <div class="g-recaptcha" data-sitekey="6LfhTcEgAAAAALFyNHEAcA9oPUmjEr5Kcmgz1cr9"></div>
              <br/>
              <ul class="actions">
                <li>
                  <input type="submit" value="Send Message" class="primary" />
                </li>
                <li><input type="reset" value="Clear" /></li>
              </ul>
            </form>
          </section>
          <section class="split">
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-envelope"></span>
                <h3>Email</h3>
                <a href="mailto:craig@dylanconstructionltd.com"
                  >craig@dylanconstructionltd.com</a
                >
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-phone"></span>
                <h3>Phone</h3>
                <span
                  ><a href="tel:+44(0)7595672550">+44 (0)7595 672550</a></span
                >
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-home"></span>
                <h3>Address</h3>
                <span
                  >33 Middlewich Road<br />
                  Northwich<br />
                  Cheshire<br />
                  CW9 7BP</span
                >
              </div>
            </section>
          </section>
        </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a
                href="https://www.facebook.com/Dylan-Construction-LTD-109551307957396"
                target="_blank"
                class="icon brands alt fa-facebook-f"
                ><span class="label">Facebook</span></a
              >
            </li>
            <!-- <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li> -->
          </ul>
          <ul class="copyright">
            <li>
              &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              Dylan Construction Ltd
            </li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/jquery.scrolly.min.js"></script>
    <script src="../static/assets/js/jquery.scrollex.min.js"></script>
    <script src="../static/assets/js/browser.min.js"></script>
    <script src="../static/assets/js/breakpoints.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
